{% extends "base.html" %}

{% block titulo %}Cadastro{% endblock titulo %}

{% block conteudo %}

<!-- Botão de Voltar -->
<div class="d-flex justify-content-center align-items-center">
    <a href="/" class="btn btn-secondary mt-3">Voltar</a>
</div>

<!-- Conteúdo da Página de Cadastro -->
<section class="mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Fazer cadastro em Academ<span class="text-primary">Py</span></h2>

                    {% if email_repeated %}
                        <p class="text-danger">Email em uso!</p>
                    {% endif %}

                    <!-- Formulário de Cadastro -->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-floating mb-3 text-dark">
                            <input type="name" class="form-control" name="username" id="username" placeholder="Nome" required>
                            <label for="username">Nome completo*</label>
                        </div>

                        <div class="form-floating mb-3 text-dark">
                            <input type="email" class="form-control" name="email" id="email" placeholder="email">
                            <label for="email">Email*</label>
                        </div>

                        <div class="form-row mb-3 text-dark">
                            <div class="form-floating col-md-6 mb-3 text-dark">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Senha" required>
                                <label for="password">Senha*</label>
                            </div>
                            <div class="form-floating col-md-6 mb-3 text-dark">
                                <input type="password" class="form-control" name="confirma_password" placeholder="Confirmar Senha" required>
                                <label for="confirma_password">Confirmar Senha*</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Criar Conta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock conteudo %}
