{% extends "base.html" %}
{% load static %}

{% block titulo %}Criar Cronograma{% endblock titulo %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a class="btn btn-outline-light border border-1 fw-light me-2" href="javascript:history.back()">⭠ Voltar</a>
    </li>
{% endblock links_cabecalho %}

{% block logado %}{% endblock logado %}

{% block conteudo %}
    <h1 class="text-white">Criar Cronograma</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mt-2 mb-4">Insira as informações necessárias:</h2>

                    <!-- Formulário de criação de Cronograma -->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-floating mb-3 text-dark">
                            <input type="password" class="form-control" name="cod_academ" id="cod_academ" placeholder="Código da equipe acadêmica" required>
                            <label for="cod_academ">Código da equipe acadêmica*</label>
                        </div>

                        <div class="form-floating mb-3 text-dark">
                            <input type="name" class="form-control" name="nome" id="nome" placeholder="Nome" required>
                            <label for="nome">Nome completo*</label>
                        </div>

                        <div class="form-floating mb-3 text-dark">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            <label for="email">Email*</label>
                        </div>

                        <div class="form-row mb-3 text-dark">
                            <div class="form-floating col-md-6 mb-3 text-dark">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
                                <label for="password">Senha*</label>
                            </div>
                            <div class="form-floating col-md-6 mb-3 text-dark">
                                <input type="password" class="form-control" id="confirma_password" name="confirma_password" placeholder="Confirmar Senha" required>
                                <label for="confirma_password">Confirmar Senha*</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Gerar Cronograma Acadêmico</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}

{% block extra %}{% endblock extra %}
