{% extends "base.html" %}
{% load static %}

{% block titulo %}Cronograma Gerado{% endblock titulo %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a class="btn btn-outline-light border border-1 fw-light me-2" href="/home/">⭠ Voltar</a>
    </li>
{% endblock links_cabecalho %}

{% block logado %}{% endblock logado %}

{% block conteudo %}
    <h1 class="text-white mb-5">Cronograma Acadêmico Gerado</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Primeiro</th>
                    <th scope="col">Último</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Primeiro</th>
                    <th scope="col">Último</th>
                    <th scope="col">Nickname</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1° aula</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2° aula</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3° aula</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">4° aula</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">5° aula</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">6° aula</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock conteudo %}

{% block extra %}{% endblock extra %}
