{% extends "base.html" %}
{% load static %}

{% block titulo %}Cronograma Gerado{% endblock titulo %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a class="btn btn-outline-light border border-1 fw-light me-2" href="/home/">⭠ Voltar</a>
        <button id="download-pdf-btn" class="btn btn-outline-light border border-1 fw-light">Download PDF</button>
        <button id="download-pdf-btn" class="btn btn-outline-success border border-1 fw-light">Abrir Excel</button>
    </li>
{% endblock links_cabecalho %}

{% block logado %}{% endblock logado %}

{% block conteudo %}
    <h1 class="text-white mb-5">Cronograma Acadêmico Gerado</h1>

    {% for dia_semana in dias_semana %}
        <div class="mt-5">

            <p class="text-white">{{dia_semana}}ª feira</p>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            {% for horario in horarios %}
                            <th scope="col">{{horario}}ª aula</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for turma in turmas %}
                        <tr>
                            <th scope="row">{{turma}}ª turma</th>
                            {% for horario in horarios  %}
                            <td>
                                <p class="text-primary p-0 m-0" name="disciplina_{{dia_semana}}_{{turma}}_{{horario}}">Disciplina</p>
                                <P class="text-white-50 small p-0 m-0" name="professor_{{dia_semana}}_{{turma}}_{{horario}}">Professor</p>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}


{% endblock conteudo %}

{% block extra %}{% endblock extra %}