{% extends "base.html" %}
{% load static %}

{% block titulo %}Disciplinas{% endblock titulo %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a class="btn btn-outline-light border border-1 fw-light me-2" href="/home/">⭠ Voltar</a>
    </li>
{% endblock links_cabecalho %}

{% block logado %}{% endblock logado %}

{% block conteudo %}
    <h1 class="text-white">Disciplinas</h1>

    <div class="row my-5">
        <div class="col-sm-8 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">

                    <h3 class="card-title mb-4">Disciplinas cadastradas</h3>

                    <div class="col-10 table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for disciplina in disciplinas %}
                                    <tr>
                                        <td>{{disciplina.nome}}</td>
                                        <td>{{disciplina.turno}}</td>
                                        <td>
                                            <button class="btn btn-secondary btn-sm ml-2"><a class="link-offset-2 link-underline link-underline-opacity-0 text-white" href="{% url 'editar-disciplina' disciplina.id %}">Editar</a></button>
                                            <button class="btn btn-danger btn-sm"><a class="link-offset-2 link-underline link-underline-opacity-0 text-white" href="{% url 'excluir-disciplina' disciplina.id %}">Excluir</a></button>
                                        </td>
                                    </tr>

                                    {% empty %}
                                    <tr>
                                        <td colspan="2" class="text-danger">Nenhuma disciplina ainda.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-4">Cadastrar Disciplina</h3>

                    {% if disciplina_repetida %}
                        <p class="text-danger">Esta disciplina já existe!</p>
                    {% endif %}

                    <!-- Formulário de Cadastro da Disciplina -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3 text-dark">
                            <input type="text" class="form-control" name="nome_disciplina" id="nome_disciplina" placeholder="Nome*" required>
                            <label for="nome_disciplina">Nome*</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>








    
    <div class="bg-primary bg-opacity-10 rounded mb-3 p-2">
        <div class="d-flex justify-content-between">
            <p>Disciplinas</p>

            <input type="checkbox" class="mr-2"></input>
        </div>

        <input type="checkbox" class="btn-check" id="Art" name="Art">
        <label class="btn" for="Art">Arte</label>

        <input type="checkbox" class="btn-check" id="Bio" name="Bio">
        <label class="btn" for="Bio">Biologia</label>

        <input type="checkbox" class="btn-check" id="Ed-Fís" name="Ed-Fís">
        <label class="btn" for="Ed-Fís">Ed. Física</label>

        <input type="checkbox" class="btn-check" id="Esp" name="Esp">
        <label class="btn" for="Esp">Espanhol</label>

        <input type="checkbox" class="btn-check" id="Fil" name="Fil">
        <label class="btn" for="Fil">Filosofia</label>

        <input type="checkbox" class="btn-check" id="Fís" name="Fís">
        <label class="btn" for="Fís">Física</label>

        <input type="checkbox" class="btn-check" id="Geo" name="Geo">
        <label class="btn" for="Geo">Geografia</label>

        <input type="checkbox" class="btn-check" id="His" name="His">
        <label class="btn" for="His">História</label>

        <input type="checkbox" class="btn-check" id="Ing" name="Ing">
        <label class="btn" for="Ing">Inglês</label>

        <input type="checkbox" class="btn-check" id="Mat" name="Mat">
        <label class="btn" for="Mat">Matemática</label>

        <input type="checkbox" class="btn-check" id="Por" name="Por">
        <label class="btn" for="Por">Português</label>

        <input type="checkbox" class="btn-check" id="PV" name="PV">
        <label class="btn" for="PV">Projeto de vida</label>

        <input type="checkbox" class="btn-check" id="Quí" name="Quí">
        <label class="btn" for="Quí">Química</label>

        <input type="checkbox" class="btn-check" id="Soc" name="Soc">
        <label class="btn" for="Soc">Sociologia</label>
    </div>
{% endblock conteudo %}

{% block extra %}{% endblock extra %}
