{% extends "base.html" %}
{% load static %}

{% block titulo %}Editar turma{% endblock titulo %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a class="btn btn-outline-light border border-1 fw-light me-2" href="/turmas">⭠ Voltar</a>
    </li>
{% endblock links_cabecalho %}

{% block conteudo %}
    <h1 class="text-white">Turmas</h1>

    <div class="row my-5">
        <div class="col-sm-8 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">

                    <h3 class="card-title mb-5">Editar Turma</h3>

                    <h5 class="text-primary mb-5">{{turma.nome}} - {{turma.turno}}<h5>

                    {% if turma_repetida %}
                        <p class="text-danger my-4">Esta turma já existe!</p>
                    {% endif %}

                    <!-- Formulários de Editar Turma -->
                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group d-flex align-items-center">
                            <label class="col-2" for="nome_turma">Nome:</label>
                            <input type="text" class="col-5 form-control text-uppercase ml-3" id="nome_turma" name="nome_turma" value="{{turma.nome}}">
                            <button type="submit" name="edita_nome_turma" class="btn btn-primary btn-sm ml-2">Alterar nome da turma</button>
                        </div>
                    </form>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group d-flex align-items-center">
                            <label class="col-2" for="turno_turma">Turno:</label>
                            <select class="form-select col-5 ml-3" id="turno_turma" name="turno_turma" required>
                                <option value="manha">Manhã</option>
                                <option value="tarde">Tarde</option>
                                <option value="noite">Noite</option>
                            </select>
                            <button type="submit" name="edita_turno_turma" class="btn btn-primary btn-sm ml-2">Alterar o turno da turma</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}

{% block extra %}{% endblock extra %}
