{% extends "base.html" %}
{% load static %}

{% block titulo %}Entrar{% endblock titulo %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a class="btn btn-outline-light border border-1 fw-light me-2" href="javascript:history.back()">⭠ Voltar</a>
    </li>
{% endblock links_cabecalho %}

{% block logado %}{% endblock logado %}

{% block conteudo %}
    <div class="row my-5">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-0">Login</h3>
                    <p class="card-text font-weight-light mt-0 mb-4">Faça login inserindo seus dados de acesso.</p>

                    <!-- Formulário de Login -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3 text-dark">
                            <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                            <label for="email">Email</label>
                        </div> 

                        <div class="form-floating text-dark">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
                            <label for="password">Senha</label>
                        </div>

                        <a href="#" class="text-primary text-right nav-link mb-3">Esqueceu a senha?</a>

                        {% if incorrect_login %}
                            <p class="text-danger">Email ou senha incorreto(s)!</p>
                        {% endif %}

                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-0">Cadastro</h3>
                    <p class="card-text font-weight-light mt-0 mb-4">Determine a opção de registro.</p>
                    <div class="form-floating mb-3 text-dark">
                        <a target=”_blank” class="btn btn-outline-black btn-block border me-2 d-flex justify-content-between align-items-center" href="/cadastro-professor">
                            <span>Professor</span>
                            <img width="10px" src="{% static '/img/icones/seta_preta.png' %}">
                        </a>
                    </div>

                    <div class="form-floating mb-3 text-dark">
                        <a target=”_blank” class="btn btn-outline-black btn-block border me-2 d-flex justify-content-between align-items-center" href="/cadastro-adm">
                            <span>Administrador</span>
                            <img width="10px" src="{% static '/img/icones/seta_preta.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}

{% block extra %}{% endblock extra %}
