{% extends "base.html" %}
{% load static %}

{% block titulo %}Gerar Cronograma{% endblock titulo %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a class="btn btn-outline-light border border-1 fw-light me-2" href="/home/">⭠ Voltar</a>
    </li>
{% endblock links_cabecalho %}

{% block logado %}{% endblock logado %}

{% block conteudo %}
    <h1 class="text-white mb-5">Gerar Cronograma Acadêmico</h1>

    <!-- Formulário de gerar Cronogramas -->
    <form method="POST">
    {% csrf_token %}

        {% for dia_semana in dias_semana %}
        <div class="mt-5">

            <p class="text-white">{{dia_semana}}ª feira</p>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            {% for horario in horarios %}
                            <th scope="col">{{horario}}ª aula</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for turma in turmas %}
                        <tr>
                            <th scope="row">{{turma}}ª turma</th>
                            {% for horario in horarios  %}
                            <td>
                                <select class="form-select bg-dark text-primary p-1 m-0 mb-1" name="disciplina_{{dia_semana}}_{{turma}}_{{horario}}">
                                    {% for disciplina in disciplinas %}
                                        <option class="small" value="{{disciplina.nome}}">{{disciplina.nome}}</option>
                                    {% endfor %}
                                </select>
                                
                                <select class="form-select bg-dark text-white-50 small p-1 m-0" name="professor_{{dia_semana}}_{{turma}}_{{horario}}">
                                    {% for professor in professores %}
                                        <option class="small" value="{{professor.nome}}">{{professor.usuario.first_name}} {{professor.usuario.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-block my-5">Verificar cronogramas</button>
    </form>

{% endblock conteudo %}

{% block extra %}{% endblock extra %}
