{% extends "base.html" %}
{% load static %}

{% block titulo %}AcademPy{% endblock titulo %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a target="_blank" class="btn btn-outline-light border border-1 fw-light me-2" href="/redes-sociais">Nossas redes sociais</a>
    </li>
    <li class="nav-item mr-3">
        <a class="btn btn-primary" href="/entrar">Entrar</a>
    </li>
{% endblock links_cabecalho %}

{% block logado %}{% endblock logado %}

{% block conteudo %}
    <!-- Conteúdo -->
    <div class="container text-center mt-5">
        <h1 class="display-3 text-white">Bem-vindo ao AcademPy!</h1>
        <p class="lead text-white-50">Solução completa para gestão acadêmica.</p>
        
        <div class="row justify-content-center mt-5 mb-4">
            <div class="col-md-10">
                <h3 class="text-primary mt-5">Por que Escolher o AcademPy?</h3>
                <p class="text-secondary">Simples, intuitivo e eficiente. Gerencie sua instituição de ensino de forma inteligente e organizada.</p>
            </div>
        </div>

    </div>
{% endblock conteudo %}

{% block extra %}
<section class="bg-dark py-1 pb-5">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-md-6">
                <h3 class="text-primary mt-4 mb-4"><img src="{% static "img/icones/seta_preta.png" %}" width="20" class="mr-2">
                    Principais Funcionalidades
                </h3>
                <ul class="list-unstyled text-white-50">
                    <li class="mt-3"><strong class="text-white">Cadastro Simplificado:</strong> Adicione administradores e professores com apenas alguns cliques.</li>
                    <li class="mt-3"><strong class="text-white">Gestão de Disciplinas:</strong> Organize o currículo escolar de forma eficiente e flexível.</li>
                    <li class="mt-3"><strong class="text-white">Criação de Cronogramas Personalizados:</strong> Planeje aulas de acordo com a disponibilidade de professores e alunos.</li>
                    <li class="mt-3"><strong class="text-white">Controle de Acesso Avançado:</strong> Defina permissões precisas para garantir a segurança dos dados.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="text-primary mt-4 mb-4"><img src="{% static "img/icones/seta_preta.png" %}" width="20" class="mr-2">
                    Benefícios do Nosso Sistema
                </h3>
                <ul class="list-unstyled text-white-50">
                    <li class="mt-3"><strong class="text-white">Interface Intuitiva:</strong> Fácil de usar, sem curva de aprendizado.</li>
                    <li class="mt-3"><strong class="text-white">Otimização de Tarefas:</strong> Automatize processos para economizar tempo e recursos.</li>
                    <li class="mt-3"><strong class="text-white">Suporte Personalizado:</strong> Equipe dedicada pronta para ajudar a qualquer momento.</li>
                    <li class="mt-3"><strong class="text-white">Flexibilidade e Escalabilidade:</strong> Adapte o sistema às necessidades específicas da sua instituição.</li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center align-items-center my-5">
            <div class="col-md-9 text-center">
                <h3 class="text-primary mt-5">Experimente Agora!</h3>
                <p class="text-white-50 mx-4 mt-3 mb-0">
                    Não perca mais tempo com processos manuais e desorganizados. Entre em contato para obter mais informações ou agendar uma demonstração.
                </p>
            </div>
        </div>        
    </div>
</section>

<div class="text-center my-5">
    <a href="#topo" class="col-4 btn btn-primary btn-block">Voltar ao topo</a>
</div>
{% endblock extra %}
