{% extends "base.html" %}
{% load static %}

{% block titulo %}Minha Conta{% endblock titulo %}

{% block logado %}>>> Logado como: {{username}}{% endblock logado %}

{% block links_cabecalho %}
    <li class="nav-item">
        <a class="btn btn-light me-2" href="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary" href="/minha-conta">Minha Conta</a>
    </li>
{% endblock links_cabecalho %}

{% block conteudo %}
    <nav class="my-4">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-minha-conta-tab" data-bs-toggle="tab" data-bs-target="#nav-minha-conta" type="button" role="tab" aria-controls="nav-minha-conta" aria-selected="true">
                Minha Conta</button>
            <button class="nav-link" id="nav-login-e-seguranca-tab" data-bs-toggle="tab" data-bs-target="#nav-login-e-seguranca" type="button" role="tab" aria-controls="nav-login-e-seguranca" aria-selected="false">
                Login e Segurança</button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-minha-conta" role="tabpanel" aria-labelledby="nav-minha-conta-tab" tabindex="0">
            <!-- Informações da conta -->
            <h3 class="text-white mt-5 mb-3">Informações da Conta</h3>
            <hr>
            <form>
                <div class="form-group d-flex align-items-center">
                    <label class="col-2 text-light" for="nome">Nome:</label>
                    <input type="text" class="col-5 form-control ml-3" id="nome" value="{{nome}}">
                    <button type="submit" class="btn btn-secondary btn-sm ml-2">Alterar nome</button>
                </div>

                <div class="form-group d-flex align-items-center">
                    <label class="col-2 text-light" for="especializacao">Especialização:</label>
                    <select class="form-select col-5 form-control ml-3" id="especializacao" name="especializacao">
                        <option selected>{{professor.especializacao}}</option>
                        {% for disciplina in disciplinas %}
                            <option value="{{disciplina.nome}}">{{disciplina.nome}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-secondary btn-sm ml-2">Alterar Especialização</button>
                </div>

                <div class="form-group d-flex align-items-center">
                    
                    <label class="col-2 text-light" for="disponibilidade">Disponibilidade:</label>
                    <div class="col-5 form-group d-flex align-items-center bg-white bg-opacity-70 rounded mb-3 p-2 ml-3">
                        <input type="checkbox" class="btn-check" id="manha" name="manha" {% if professor.disponibilidade_manha%} checked {% endif %}>
                        <label class="btn mx-1" for="manha">Manhã</label>

                        <input type="checkbox" class="btn-check" id="tarde" name="tarde" {% if professor.disponibilidade_tarde%}checked {% endif %}>
                        <label class="btn mx-1" for="tarde">Tarde</label>

                        <input type="checkbox" class="btn-check" id="noite" name="noite" {% if professor.disponibilidade_noite%}checked {% endif %}>
                        <label class="btn mx-1" for="noite">Noite</label>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-sm ml-2">Alterar Disponibilidade</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="nav-login-e-seguranca" role="tabpanel" aria-labelledby="nav-login-e-seguranca-tab" tabindex="1">
            <!-- Login e Segurança -->
            <h3 class="text-white mt-5 mb-3">Login e Segurança</h3>
            <hr>
            <form>
                <div class="form-group d-flex align-items-center">
                    <label class="col-2 text-light" for="email">Email:</label>
                    <input type="text" class="col-5 form-control ml-3" id="email" value="{{email}}">
                    <button class="btn btn-secondary btn-sm ml-2">Alterar email</button>
                </div>

                <div class="mt-5">
                    <div class="form-group d-flex align-items-center">
                        <label class="col-2 text-light" for="password">Senha:</label>
                        <input type="password" class="col-5 form-control ml-3" id="password" name="password" placeholder="Editar senha" required>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        
                        <label class="col-2 text-light"></label>

                        <input type="password" class="col-5 form-control ml-3" id="conf_password" name="conf_password" placeholder="Confirmar senha" required>

                        <button class="btn btn-secondary btn-sm ml-2" name="edita_nome">Editar senha</button>
                    </div>
                </div>

                <div class="form-group d-flex align-items-center mt-5">
                    <a class="btn btn-danger btn-sm" href="/logout">Logout</a>
                </div>
            </form>
        </div>
    </div>

{% endblock conteudo %}

{% block extra %}{% endblock extra %}

